@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-dark: #282a36;
  --bg-dark-alt: #44475a;

  --font-dark: #e5e5e5;
  --font-dark-alt: #ffffff;

  --bg-light: #1e73c2;
  --bg-light-alt: #fff;
  
  --font-light: #777;
  --font-light-alt: #282a36;

  --bg-form: #575A6D;
  --font-form: #e5e5e5;

  --font-ocean: #8BE9FD;
  --bg-yellow: #DC5D5D;
  --bg-green:#309E4C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--bg-light-alt);
  color: var(--font-light);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--bg-dark);
    color: var(--font-dark);
  }
}

a {
  color: inherit;
  text-decoration: none;
}